@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap);
font-family
section {
  margin-top: 10px;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 50px;
  font-weight: bolder;
  color: #36455c;
  margin-bottom: 5px;
}

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.gallery-section .gallery-wrap {
  padding-top: 10px;
}

.gallery-section .gallery-wrap .gallery-images {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin-bottom: 20px;
}

.gallery-section .gallery-wrap .gallery-images .gallery {
  width: 100%;
  position: relative;
}

.gallery-section .gallery-wrap .gallery-images .gallery .image-section {
  width: 100%;
  margin-bottom: 1px;
}

.gallery-section .gallery-wrap .gallery-images .gallery .image-section img {
  max-width: 100%;
  height: auto;
  padding: 5px;
  display: block;
  transition: transform 0.3s;
}


.gallery-section .gallery-wrap .gallery-images .gallery:hover .caption {
  opacity: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.close-modal {
  position: absolute;
  top: 50px;
  right: 400px;
  font-size: 50px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.close-modal:focus {
  outline: none;
}

@media (max-width: 768px) {
  .gallery {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .gallery {
    width: 100%;
  }
}
